<h1>Dettagli</h1>
<div class="d-flex">
<div class="immagine">
<img [src]="libro?.immagine" alt="">
</div>
<div class="dettagli">
<h2>{{libro?.titolo}}</h2>
<h3><strong>Di:</strong>{{libro?.autore}}</h3>

<p><strong>Genere:</strong>{{libro?.genere}}</p>
<p><strong>Saga:</strong>{{libro?.saga}}</p>

<p><strong>Trama:</strong>"{{libro?.trama}}"</p>

<p><strong>Casa Editrice:</strong>{{libro?.casaEditrice}}</p>
<p><strong>ISBN:</strong>{{libro?.isbn}}</p>
<p><strong>Pagine:</strong>{{libro?.numeroPagine}}</p>

<h2>{{libro?.prezzo | currency: 'EUR'}} </h2>
</div>
</div>
