<nav class="navbar navbar-expand-lg mb-3 border-bottom border-body" style="background-color:#FDAEC0 ;">
  <nav class="container-fluid">
  <div class="d-flex flex-wrap align-items-center justify-content-center w-100">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
      <img src="https://res.cloudinary.com/dfm9lzhxy/image/upload/v1720274936/Default_A_whimsical_logo_of_SakuraShop_crafted_in_a_mix_of_dig_2-removebg-preview_y1bfi1.png" class="logo">
    </a>

    <ul class="nav col-8 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a class="nav-link px-2 text-white" routerLink="/">Home</a></li>
      <li><a class="nav-link px-2 text-white" routerLink="/libri">Acquista</a></li>
      <li><a class="nav-link px-2 text-white" routerLink="/profilo" *ngIf="isUserLoggedIn">Profilo</a></li>
      <li><a class="nav-link px-2 text-white" routerLink="/contatti">Contatti</a></li>
    </ul>
    <div class="d-flex row justify-content-center align-items-center">
  <div *ngIf="isUserLoggedIn" class="search-group">

      <input type="search" class="form-control form-control-light text-bg-light searchbar" placeholder="Cerca il titolo" aria-label="Search" [(ngModel)]="titolo"  (input)="onSearch($event)">
      <button class=" btn btn-light searchbar-button" (click)="searchLibro()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
      </svg></button>

  </div>

    <div class="text-end">
    <button class=" btn btn-light carrello m-2" type="button" routerLink="/carrello" *ngIf="isUserLoggedIn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
    </svg></button>


      <button type="button" class="btn btn-light me-2" routerLink="/auth/login" *ngIf="!isUserLoggedIn">Login</button>
      <button type="button" class="btn btn-info" routerLink="/auth/register" *ngIf="!isUserLoggedIn" >Sign-up</button>
      <button (click)="logOut()" type="button" class="btn btn-danger" *ngIf="isUserLoggedIn">Esci</button>
    </div>
  </div>
  </div>

  <div *ngIf="libroRicercato && libroRicercato.length > 0 && showResults" class="search-results">
    <span id="closeBtn" class="close-btn" (click)="closeSearchResults()">&times;</span>
    <h5>Risultati della ricerca:</h5>
    <ul>
      <li *ngFor="let libro of libroRicercato">
        <a [routerLink]="['/libri/dettaglio', libro.id]"><strong>{{ libro.titolo }}</strong> - {{ libro.autore }}</a>
      </li>
    </ul>
  </div>

  <!-- Messaggio di errore -->
  <div *ngIf="errore">
    <p>{{ errore }}</p>
  </div>
  </nav>
