<nav class="navbar navbar-expand-lg mb-3 border-bottom border-body" style="background-color:#FDAEC0 ;">
  <div class="container-fluid">
  <div class="d-flex flex-wrap align-items-center justify-content-between">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
      <img src="https://res.cloudinary.com/dfm9lzhxy/image/upload/v1720274936/Default_A_whimsical_logo_of_SakuraShop_crafted_in_a_mix_of_dig_2-removebg-preview_y1bfi1.png" class="logo">
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a class="nav-link px-2 text-white" routerLink="/">Home</a></li>
      <li><a class="nav-link px-2 text-white" routerLink="/libri">Acquista</a></li>
      <li><a class="nav-link px-2 text-white" routerLink="/profilo" *ngIf="isUserLoggedIn">Profilo</a></li>
      <li><a class="nav-link px-2 text-white" routerLink="/contatti">Contatti</a></li>
    </ul>

    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
      <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
    </form>
    <div class="text-end">
    <button class=" btn btn-outline-light" routerLink="/carrello" *ngIf="isUserLoggedIn"><i class="bi bi-cart text-white"></i></button>


      <button type="button" class="btn btn-outline-light me-2" routerLink="/auth/login" *ngIf="!isUserLoggedIn">Login</button>
      <button type="button" class="btn btn-warning" routerLink="/auth/register" *ngIf="!isUserLoggedIn" >Sign-up</button>
      <button (click)="logOut()" type="button" class="btn btn-danger" *ngIf="isUserLoggedIn">Esci</button>
    </div>
  </div>
  </div>
</nav>
